
.container-cart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    text-align: center;
    padding-top: 2.5rem;
    overflow-y: auto;

    .menu-card {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        p {
            cursor: pointer;
            max-width: max-content;
        }
    }
   
    .title-cart {
        width: 90%;
        margin: 0 auto;
        text-align: start;
        
    }

    .empty {
        display: flex;
        width: 150px;
        margin: 0 auto 5rem;
    }

    .aviso {
        padding: 1.5rem;
        border: 1px solid silver;
    }
    
    .aviso:hover {
        color: white;
        background-color: black;
    }
    
    article {
        margin: 1rem;
        display: flex;
        align-items: center;
        box-shadow: 1px 1px 5px silver;
        padding: 0.5rem 1rem;

        img {
            width: 100px;
            mix-blend-mode: multiply;
        }

        h3,
        .amount-cart,
        .value-cart {
            width: 400px;
            margin: 0 auto;
        }

        button {
            padding: 0.5rem;
            margin: 0 0.2rem;
            cursor: pointer;
            background-color: silver;
            color: black;
            border: none;
        }
    }

    article:hover {
        background-color: wheat;

        button {
            background-color: white;
        }
    }

    .container-total {
        width: 100%;
        display: flex;
        justify-content: end;
        margin-bottom: 2rem;

        .total-value {
            box-shadow: 1px 1px 5px silver;
            max-width: max-content;
            padding: 1.5rem;
            margin: 1.5rem 1rem;
        }
    }
}

@media(max-width:768px){
    .card-item {
        flex-wrap: wrap;

        img {
            width: 50px;
            
        }

        h3 {
            display: flex;
            max-width: max-content;
        }
        p {
            width: 10px;
            max-width: max-content;
        }
    }
}