
.container-header {
    width: 95%;
    margin: 1rem auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;

    h2 {
        color: red;

        span {
            color: black;
            font-weight: 400;
        }
    }

    section {
        display: flex;
        justify-content: end;

        nav {
            ul {
                display: flex;
                
                li {
                    margin: 0 0.5rem;
                    display: flex;
                    align-items: center;

                    input {
                        padding: 0.8rem 4rem 0.8rem 1rem;
                        border-radius: 1rem;
                        outline: 0;
                        border-bottom: 1px solid silver;
                        text-align: start;
                    }

                    .icon-search {
                        font-size: 25px;
                        margin-left: -35px;
                        margin-bottom: -5px;
                    }

                }
            }
        }
    }

    .icon-cart {
        display: flex;
        align-items: center;

        .btn-cart {
            width: 40px;
            top: 50px;
            right: 30px;
            cursor: pointer;
        }
    
        .btn-cart:active {
            transform: scale(0.9);
        }

        p {
            padding: 0.5rem;
            border-radius: 25%;
            border: 1px solid silver;
            width: 10px;
            height: 10px;
            display: flex;
            align-items: center;
        }
    }
}