
.container-products {
    width: calc(100% / 6);
    margin: 1rem;
    border-radius: 0.5rem 0 0.5rem 0;
    box-shadow: 1px 1px 5px silver;
    padding-bottom: 1rem;

    img {
        width: 150px;
        mix-blend-mode: multiply;
    }

    h2 {
        max-width: 150px;
        font-size: 18px;
        margin: 0 auto;
    }

    p {
        text-align: end;
        margin: 0.5rem 1.5rem;
        background-color: green;
        color: white;
        width: max-content;
        padding: 0.2rem;
    }

    button {
        font-size: 20px;
        display: flex;
        justify-items: center;
        justify-content: center;
        width: max-content;
        margin: 0 auto;
        cursor: pointer;
        border-color: transparent;
        color: black;
        background-color: wheat;
        padding: 0.5rem;
    }

    button:hover {
        box-shadow: 1px 1px 5px #c0c0c088;
    }

    button:active {
        transform: scale(0.9);
    }

    .preco-item {
        text-align: end;
    }

}

@media(max-width:1024px){
 .container-products {
    width: calc(100% / 5);
 }   
}

@media(max-width:850px){
    .container-products {
        width: calc(100% / 4);
    }   
}

@media(max-width:600px){
    .container-products {
        width: calc(100% / 3);
    }   
}

@media(max-width:550px){
    .container-products {
        padding: 1rem;
    }
}